.card{
  border: 1px solid $divider-color;
  border-radius: 3px;
  padding: 1rem 1.375rem;
  
  &:not(:first-child) {
    margin-top: 1rem;
  }

  &--user {

    .user {
      @include flexbox($align: flex-start, $justify: flex-start);
      min-width: 0px;

      &__image {

        &-wrapper {
          display: inline-flex;
          overflow: hidden;
          border-radius: 3px;
          width: 76px;
          height: 76px;
          margin-right: 1.25rem;
        }

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    
      &__name {
        font-weight: 500;
        font-size: 1.125rem;
        margin: 0;
        margin-bottom: .375rem;
        color: $accent-color;
      }

      &__title {
        font-weight: 500;
        font-size: 1rem;
        margin: 0 0 .125rem;
        color: $primary-text-color;
      }

      &__company {
        font-weight: 600;
        font-size: 0.875rem;
        margin: 0 0 .625rem;
        color: $primary-color-dark;
      }

      &__email,
      &__phone {
        font-weight: 400;
        font-size: 0.8125rem;
        margin: 0;
        color: $primary-color;
      }
    }

    table {

      .td {
        @include flexbox($justify: flex-start);
        height: 1.125rem;

        &--left {
          padding: 0;
          padding-right: .25rem;
          user-select: none;
        }
      }
    }

    .material-icons {
      font-size: 1rem;
      color: $primary-color-light;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
